h2{
    color:blue;
   
}

h1{
    text-align: center;
    color:black;
     text-decoration: black dotted underline ;
}

h3{

    color:rgb(81, 81, 240);
}

button{
    background-color: blanchedalmond;
    color:brown;
}

body{
    background-color: rgb(245, 241, 235);
}




.navbar{
    height: 30px;;
    
    background-color: black;
    padding-right: 200;


}
a{
    color:white;
    padding-right: 220px;
    font-size:large;
    text-decoration: none;
}